@charset "UTF-8";

body {
  background-color: rgba(80, 172, 153, .05);
  padding-top: 60px;
}
body.is-open {
  overflow: hidden;
}

img {
  width: 100%;
  object-fit: cover;
}


/* 共通 */
.c-title {
  font-size: 40px;
  font-weight: bold;
}

.c-btn {
  display: inline-block;
  border: 1px solid orange;
  border-radius: 30px;
  max-width: 200px;
  width: 100%;
  padding: 16px;
  background-color: #fff;
  color: orange;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  transition: all .3s;
}
.c-btn:hover,
.c-btn:focus {
  background-color: orange;
  color: #fff;
}

.l-section {
  padding-block: 80px;
}

.l-inner {
  margin-inline: auto;
  max-width: 1100px;
  width: 100%;
  padding-inline: 20px;
}


/* header */
.l-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.p-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fff;
  transition: background-color .3s;
}
@media screen and (max-width: 767px) {
  .p-header {
    padding-right: 0;
  }
}

.p-header__title {
  color: skyblue;
  font-size: 20px;
  font-weight: bold;
}

.p-header-nav {
  display: block;
  transition: all .3s;
}
@media screen and (max-width: 767px) {
  .p-header-nav {
    visibility: hidden;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 60px);
    background-color: skyblue;
    opacity: 0;
    z-index: 20;
  }
  .p-header-nav.is-open {
    visibility: visible;
    opacity: 1;
  }
}

.p-header-nav__list {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 767px) {
  .p-header-nav__list {
    flex-direction: column;
    justify-content: center;
    height: inherit;
  }
}

.p-header-nav__link {
  font-size: 18px;
  font-weight: bold;
}


/* hamburger */
.c-hamburger {
  display: none;
}
@media screen and (max-width: 767px) {
  .c-hamburger {
    display: block;
    position: relative;
    width: 60px;
    height: 60px;
    transition: transform .3s;
    cursor: pointer;
  }
}

.c-hamburger__top,
.c-hamburger__center,
.c-hamburger__bottom {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  width: 27px;
  height: 2px;
  background-color: #000;
  transition: all .3s;
}

.c-hamburger__top {
  top: 0;
}

.c-hamburger__center {
  margin-top: 6px;
  margin-bottom: 6px;
}

.c-hamburger__bottom {
  top: 0;
}

.c-hamburger.is-open .c-hamburger__top {
  top: 8px;
  transform: rotate(-45deg);
  background-color: #000;
}

.c-hamburger.is-open .c-hamburger__center {
  opacity: 0;
}

.c-hamburger.is-open .c-hamburger__bottom {
  top: -8px;
  transform: rotate(45deg);
  background-color: #000;
}


/* DOM */
.p-top-dom {

}

.p-top-dom__title {
  text-align: center;
}

.p-top-dom__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}

.p-dom {

}

.p-dom__title {
  font-size: 24px;
  font-weight: bold;
}

.p-dom__text {
  font-size: 18px;
}

.p-dom__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  list-style: disc;
  padding-left: 1em;
  font-size: 18px;
}

.p-dom__next {
  margin-top: 10px;
}

.p-dom__link {
  display: inline-block;
  color: red;
}
.p-dom__link:hover,
.p-dom__link:focus {
  text-decoration: underline;
}

.p-dom__box {
  border: 10px solid red;
  width: 420px;
  height: 320px;
  background-color: deepskyblue;
}


/* tab */
.p-top-tab__title {
  text-align: center;
}

.p-tab__btns {
  margin-top: 30px;
}

.p-tab__btn.is-active {
  background-color: orange;
  color: #fff;
  pointer-events: none;
}

.p-tab__contents {
  margin-top: 30px;
}

.p-tab__content {
  display: none;
  border: 2px solid orange;
  padding: 20px;
}
.p-tab__content.is-active {
  display: block;
}

.p-tab__text {
  font-size: 18px;
  font-weight: bold;
}


/* modal */
.p-top-modal {

}

.p-top-modal__title {
  text-align: center;
}

.p-modal {

}

.p-modal__btns {
  margin-top: 30px;
}

.p-modal__btn.is-open {
  background-color: orange;
  color: #fff;
}

.p-modal__content {
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  width: 500px;
  padding: 20px;
  background-color: #fff;
  opacity: 0;
  z-index: 1010;
  transition: opacity .3s;
}
.p-modal__content.is-open {
  visibility: visible;
  opacity: 1;
}

.p-modal__img img {
  aspect-ratio: 4 / 3;
  width: 100%;
  height: 100%;
}

.p-modal__body {
  margin-top: 20px;
}

.p-modal__title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.p-modal__text {
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
}

.p-modal__overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .2);
  opacity: 0;
  transition: all .3s;
  z-index: 1000;
}
.p-modal__overlay.is-open {
  visibility: visible;
  opacity: 1;
}


/* accordion */
.p-top-accordion__title {
  text-align: center;
}

.p-accordion {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}

.p-accordion + .p-accordion {
  margin-top: 80px;
}

.p-accordion__item,
.p-accordion__item2 {
  background-color: skyblue;
  cursor: pointer;
  transition: all .3s;
}
.p-accordion__item.is-open .p-accordion__description {
  display: block;
  animation: fadeIn .8s;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.p-accordion__term,
.p-accordion__term2 {
  font-size: 24px;
  font-weight: bold;
  padding: 20px;
}

.p-accordion__description,
.p-accordion__description2 {
  padding: 20px;
}

.p-accordion__description {
  display: none;
}

.p-accordion__inner {
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: all .5s;
}
.p-accordion__inner.is-open {
  height: auto;
}

/* scroll */
.p-top-scroll__title {
  text-align: center;
}

.p-top-scroll__wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-top: 30px;
}

.p-scroll {
  visibility: hidden;
  margin-inline: auto;
  max-width: 700px;
  width: 100%;
  opacity: 0;
  transition: opacity .3s;
}
.p-scroll.is-active {
  visibility: visible;
  opacity: 1;
}

.p-scroll__text {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}


/* page-top */
.l-page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
}

.p-page-top {
  visibility: hidden;
  opacity: 0;
  transition: all .3s;
}
.p-page-top.is-active {
  visibility: visible;
  opacity: 1;
}

.p-page-top__link {
  display: block;
  transition: opacity .3s;
}
.p-page-top__link:hover,
.p-page-top__link:focus {
  opacity: .6;
}

.p-page-top img {
  width: 60px;
  height: 60px;
}


/* footer */
.p-footer {
  padding-block: 80px;
  background-color: #fff;
}

.p-footer__title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}